.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.wrapper > div, .wrapper > label {
    display: flex;
    align-items: center;
    grid-gap: 7px;
}

.compleat {
    text-decoration: line-through;
}